.btn {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all;
  text-align: center;
  display: flex;
  flex-shrink: 0;
  align-self: center;
  align-items: center;
  justify-content: center;
}